*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  background: #202B2E;
}

h3 {
  text-align: center;
  padding: 10px;
}

p {
  padding: 10px;
  font-size: 18px;
  line-height: 24px;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0px;
  width: 80%;
  margin: auto;
  height: 50px;
  align-items: center;
}

.nav-list li {
  width: 25%;
  text-align: center;
}

.nav-list a {
  color: #F2F1EF;
  text-decoration: none;
  font-size: 24px;
}

.banner {
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../images/banner-lg.jpg');
  background-size: cover;
  background-position: center;
  transition: background-image .5s;
  color: #F2F1EF;
}

.banner h1 {
  padding: 10px;
  background: #202B2E;
}

.row {
  display: flex;
  background: #202B2E;
}

.col-2 {
  width: 48%;
  margin: 1%;
  padding: 10px;
  background: #F2F1EF;
}

.round {
  border-radius: 20px;
  border: 5px solid #202B2E;
  width: 50%;
  display: block;
  margin: auto;
}

footer {
  text-align: center;
  padding-top: 3px;
}

@media (max-width: 650px) {
  .nav-list {
    width: 100%;
  }
  .banner {
    background-image: url('../images/banner-sm.jpg');
  }
  .row {
    display: block;
    padding: 5px;
    margin: 0;
  }
  .col-2 {
    width: 98%;
  }
}